.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: #ddd;
}

.flex-container {
    display: flex;
}

.box {
    width: 320px;
    height: 100px;
    /* flex-grow: 1; */
}

.one {
    background-color: cadetblue;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    flex-basis: 400px;
    /* flex: 1; */
}

.two {
    background-color: coral;
    /* flex-grow:3; */
    /* flex-shrink: 2; */
}

.three {
    background-color: cornflowerblue;
    /* flex-grow: 2; */
    /* flex-shrink: 3; */
}